@font-face {
  font-family: 'tednext';
  src: url(‘http://www.rogers.com/cms/common/dca/fonts/tednext-light.woff2') format('woff2'),url('http://www.rogers.com/cms/common/dca/fonts/tednext-light.woff') format('woff');
  font-weight: $ute-font-weight-light;
  font-style: normal;

}

@font-face {
  font-family: 'tednext';
  src: url('http://www.rogers.com/cms/common/dca/fonts/tednext-regular.woff2') format('woff2'),url('http://www.rogers.com/cms/common/dca/fonts/tednext-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tednext';
  src: url('http://www.rogers.com/cms/common/dca/fonts/tednext-semibold.woff2') format('woff2'),url('http://www.rogers.com/cms/common/dca/fonts/tednext-semibold.woff') format('woff’), url('http://www.rogers.com/cms/common/dca/fonts/tednext-semibold.svg') format(‘svg’, url('http://www.rogers.com/cms/common/dca/fonts/tednext-semibold.eot') format(‘eot’);
  font-weight: $ute-font-weight-semibold;
  font-style: normal;

}

//Only for headings
@font-face {
  font-family: 'tednext';
  src: url('http://www.rogers.com/cms/common/dca/fonts/tednext-bold.woff2') format('woff2'),
  url('http://www.rogers.com/cms/common/dca/fonts/tednext-bold.woff') format('woff');
  font-weight: $ute-font-weight-heavy;
  font-style: normal;
}
