@font-face {
    font-family: ‘weblysleekuisl’;
    src: url('https://cdn.rawgit.com/giryer/MyWebfonts/blob/master/weblysleekuisl.eot'), 
url('https://cdn.rawgit.com/giryer/MyWebfonts/blob/master/weblysleekuisl.svg'),
url('https://cdn.rawgit.com/giryer/MyWebfonts/blob/master/weblysleekuisl.woff');

font-weight: normal;
font-style: normal
}
